*{
	margin: 0;
	padding:0;
	list-style-type: 0;
	text-decoration: none;
	box-sizing: border-box;
}
#container{
	display: flex;
	position: relative;
}
#container .MyApp{
	position: fixed;
	width: 200px;
	height: 100%;
	background: black;
}
#container .MyApp .head{
	color: white;
	text-align: center;
}
#container .MyApp ul li{
	padding: 15px;
}
#container .MyApp ul li a{
	color: white;
}
#container .content{
	padding-left: 250px;
	width: 100%;
}
#container .MyApp ul li:hover{
	background: gray;
}
#container .content pink{
	color: #800080;
}
